html,
body{
     font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif, modern-normalize;
     color: #2a2a2a;
     background: #fafafa;
    }
.logoWeb{
    color:#4D5AE5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    width: 44px;
    height: 21px;
    font-weight: 700;
}
.header, nav, address {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
}
#logoStudioMain {
    color:  #2E2F42;
}
#logoStudioFooter {
     color: #f4f4f4;
}

.menuButtom {
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

}
.mainInfo{
    color: #434455;
    font-size: 16px;
}